<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (cartData.products.length > 0) { %>
        <ul class="cart__item-list">
            <% cartData.products.forEach(product => { %>
            <li class="cart__item">
                <h1><%= product.title %></h1>
                <h2>Unit Price: <%= product.price.toFixed(2) %></h2>
                <h2>Quantity: <%= product.cartItem.quantity %>
                    <form action="/cart-update-quantity" method="POST">
                        <input type="hidden" value="<%= product.id %>" name="productId">
                        <button class="btn " type="submit">+</button>
                        <button class="btn danger " type="submit">-</button>
                    </form>
                </h2>
                <h2>Total Price: <%= (product.cartItem.quantity * product.price).toFixed(2) %></h2>
                <form action="/cart-delete-item" method="POST">
                    <input type="hidden" value="<%= product.id %>" name="productId">
                    <button class="btn danger" type="submit">Delete</button>
                </form>
            </li>
            <% }) %>
        </ul>
        <br /> <br>
        <div class="centered total-amount">
            <p> Total : $<%= cartData.totalAmount %></p>
        </div>
        <div class="centered">
            <form action="/create-order" method="POST">
                <button class="btn" type="submit"> Order Now !</button>
            </form>
        </div>
        <% } else { %>
        <h1>No Products in Cart!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>